<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>POKER</title>

    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <style>
    body {
      padding-top: 70px;
    }
    .container {
      max-width: 820px
    }
    input {
      padding: 10px 15px;
      margin-top: 8px;
      margin-bottom: 8px;
    }
    p {
      margin: 0
    }

    </style>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <input class="form-control">
      </div>
    </nav>
    <div class="container">
      <div id="content">
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/socket.io/1.6.0/socket.io.min.js"></script>
    <script src="//cdn.bootcss.com/js-cookie/latest/js.cookie.min.js"></script>

    <script>
      var socket = io.connect('http://localhost:3000');
      var user = false;


      socket.on('connect', function() {
        $('#content').prepend('<p>连接成功<p>')
        $('#content p:first-child').addClass('text-success');
      });

      socket.on('disconnect', function() {
        $('#content').prepend('<p>断开连接<p>')
        $('#content p:first-child').addClass('text-danger');
      });

      socket.on('message', function(json) {
        console.log(json)
        $('#content').prepend('<p>'+json.speaker+': '+json.msg+'<p>');
        $('#content p:first-child').addClass('text-'+json.status);
      });

      socket.on('system', function(json) {
        if ('auth' in json) {
          user = json.auth;
        }
        $('#content').prepend('<p>'+json.msg+'</p>');
        $('#content p:first-child').addClass('text-'+json.status);
      });

      // socket.on('message', function(obj) {
      //   $('#content').append('<li><span style="color:' + obj.speaker.color + '">' + obj.speaker.name + '</span> : <span style="color:' + obj.msg.color'">' + obj.msg.content + '</span><li>');
      // });

      $('input').keydown(function() {
        if (event.which == 13) {
          var input = $(this).val();
          if (input == '') {
            return;
          }
          var json = {};
          if (user) {
            json.user = user;
          }
          if (input.charAt(0) != '/') {
            json.method = 'say';
            json.param = [input];
          } else {
            var params = input.substr(1).split(' ');
            json.method = params.shift();
            json.param = params;          }
          socket.send(json);
          $(this).val('');
        }
      })
    </script>
  </body>
</html>
